.vs {
  font-size: 8rem;
  font-weight: bold;
  color: #BD0000;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.win {
  background-color: rgba(0, 0, 0, 0.8);
  color: antiquewhite;
  transform: rotate(-30deg);
  font-size: 2rem;
  /* text-align: center; */
}

@media (max-width: 576px) {
  .vs {
    margin-bottom: 5rem;
  }
}