.bg2 {
  height: 60rem;
  background-image: url('/landingpage2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contentsection2 {
  height: 40rem;
  align-items: center;
}

.newsh1{
  font-family: 'Shadows Into Light', cursive;
  color: antiquewhite;
  font-size: 6rem;
  margin-top: 75px;
}

.panel-news {
  background-color: rgba(0, 0, 0, 0.5);
  color: antiquewhite;
}
