.gamedetail {
  height: 50rem;
}
.titlegamedetail h1 {
  text-align: center;
  margin-top: 20px;
}
.trophy {
  /* max-width: 50px;
    margin-left: 25px; */
  width: 5rem;
  height: 5rem;
  color: rgb(255, 179, 80);
  /* text-align: center; */
  justify-content: center;
}
.title {
  color: rgb(251, 228, 198);
  text-shadow: 0 0 3px #000;
  -moz-text-shadow: 0 0 3px #000;
  -webkit-text-shadow: 0 0 3px #000;
}

.data-table {
  margin-top: 50px;
  margin-left: 30px;
}
